### Python ###
# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
.Python
.env/

# IDE
.vscode/

### Django ###
*.log
*.pid

secret.txt

.DS_Store 

# Client 
!crypto_wallet/client/
crypto_wallet/client/*
!crypto_wallet/client/public/
!crypto_wallet/client/src