{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="w-25 p-3">
  <h2 class="text-center">Login</h2>
  <form method='post' id='login'>
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputPassword1">Login</label>
      <input type="login" class="form-control" id="exampleInputLogin" placeholder="Login" name="login">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}